* {
  /*font-family: "Open Sans Condensed", "times new roman", sans-serif;*/
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

h1 {
  color: blue;
}

p {
  font-size: 40px;
}

#parrafo1 {
  color: pink;
  text-align: center;
  text-decoration: underline;
}

img {
  text-align: center;
}

.importante {
  font-size: 80px;
  /* color: brown; */
}
ul {
  list-style-type: square;
}
